/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  border-style: double;
  border-width: thick;
  margin: 2px;
  height: 99vh;
  background-color: antiquewhite;
  border-color: black;
  /* text-align: center; */
}

.App h1 {
  position: relative;
  color: brown;
  text-decoration: underline;
}

.App input[type='text'] {
  padding: 8px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  width: 80%;
  font-size: 14px;
}

.add-icons {
  font-size: 20px;
  /* need to use font-size to change the size of the icon */
  margin-left: 30px;
  color: brown;
  cursor: pointer;
}

.App h2 {
  /* margin-left: 50px; */
  margin-top: 90px;
}

/* Styling for the icons */
.add-square,
.add-check,
.add-circle {
  cursor: pointer;
  /* Makes the icon clickable */
  font-size: 24px;
  /* Adjust the size of the icons */
  margin-right: 10px;
  /* Space between icon and task text */
}

/* Specific colors for each status */
.add-square {
  color: gray;
}

.add-check {
  color: green;
}

.add-circle {
  color: red;
}