.resetPassword {
    display: grid;
    place-items: center;
}

.resetPassword h1 {
    text-align: center;
}

.scrolling-text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    /* this white-space nowrap will help the text to come in a single line without going to next line */
}

.scrolling-text p {
    display: inline-block;
    animation: scroll 30s linear infinite;
    /* Customize the speed of scrolling */
    font-size: 20px;
    background-color: grey;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
        /* Start from the right */
    }

    to {
        transform: translateX(-100%);
        /* End on the left */
    }
}

.input-fields {
    margin-top: 100px;
    background-color: whitesmoke;
    width: 400px;
    height: 280px;
    align-items: center;
    justify-content: center;
}


.reset-password,
.cancel-reset {
    cursor: pointer;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 40px;
}

.input-fields [name='UserId'] {
    margin-left: 78px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* this background color is used to show once the pop up is shown it is used to show the background color */
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-content-reset {
    background: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    width: 250px;
    height: 190px;
}

.popup-content-reset p {
    margin-left: 2px;
    margin-top: 30px;
    text-align: center;
}

.back-home {
    margin-top: 20px;
    margin-left: 10px;
}